/* styles.css */

html{
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}


#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(242, 244, 248,1);
    transition: background-color 0.3s ease;
    z-index: 1000;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding: 10px 20px;
  }
  #navbar.scrolled-down {
    background-color: rgba(242, 244, 248, 0); /* スクロール時に透過 */
}

#navbar.scrolled-up {
    background-color: rgba(242, 244, 248, 1); /* スクロールアップ時に不透明 */
}

#navbar:hover {
    background-color: rgba(242, 244, 248, 1); /* ホバー時に不透明 */
}
#navbar img {
    height: 40px;
  }
  
  
.navlinks {
      display: flex;
      justify-content: flex-end; /* aタグを右詰めに配置 */
      flex-grow: 1; /* 右側に十分なスペースを持たせる */
    }
    
.navlinks a {
      margin-right: 5%;
      text-decoration: none; /* リンクの下線を消す */
      color: #3e3e3e;
      
      font-family: "Zen Maru Gothic", serif;
        font-weight: 500;
        font-style: normal;
    }

    .menu-btn {
        display: none; /* 初期状態では非表示 */
        font-size: 1.2rem;
        background: none;
        border: none;
        color: #3e3e3e;
        cursor: pointer;
        margin-right: 5%;
    }
/*
main {
    padding: 2rem;
}
*/
h1{
    margin-block-end: 0.2em;
}

h2 {
    color: #555;
}

#title {
    position: relative;
    height: 100vh; /* ウィンドウの高さと同じに設定 */
    display: flex; /* Flexboxを使用 */
    justify-content: flex-start; /* 左寄せに設定 */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: #ffffff; /* 背景色の設定（オプション） */
}

.titletxt{
    position: absolute;
    display: block;
    width: 50%;
    padding: 0%;
    text-align: center;
    z-index: 2;/* SVGの上に表示されるようにする */
}

.titletxt h1, .titletxt h2 {
    font-family: "Zen Maru Gothic", serif;
    margin: 0;
    line-height: 1.2;
    color: #3e3e3e;
}

.titletxt h1{
    font-weight: 700;
    font-style: normal;
    font-size: 4.8rem;
}

.titletxt h2{
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
}
.background-title{
    position: absolute;
    display: block;
    margin-left: auto; /* SVGを右寄せにする */
    /*top: 0;*/
    right: 0;
    width: 80%;
    height: 100%;
    z-index: 1; /* テキストの後ろに表示されるようにする */
}
#profile{
    height: auto;
    background: url('../assets/images/background-profile.svg'),
    linear-gradient(to bottom, rgba(255, 255, 255, 0), #F2F4F8 50%);
    background-size: cover; /* 画像を画面いっぱいに広げる */
    background-position: center top; /* 画像の中央を基準に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    text-align: center;
    padding-bottom: 5%;
}

#profile h1{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    padding-top: 13%;
}

.profile-contents-all{
    display:flex;
}
.portrait{
    padding-left: 20%;
    width: 30%;
}
.profile-contents{
    display: flex;
    flex-direction: column;
}
.profile-contents p{
    width:60%;
    padding-left:8%;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
}
.profile-contents h2{
    width:60%;
    padding-left:8%;
    font-size: 1.6rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;

}
.profile-hobbys{
    display: flex;
    flex-direction: row;
    width:60%;
    margin-left:8%;
}
.hobby{
    text-align: center;
    width: 30%;
    padding-left:2.5%;
    padding-right:2.5%;
}
.hobby img{
    width:100%;
}
.hobby h3{
    font-size: 1.2rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.hobby p{
    width: 100%;
    display: inline-block;
    padding: 0%;
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.9rem;
    margin-top: 0;
}
#works{
    height: auto;
    text-align: center;
    position: relative;/*疑似要素用*/
    background-color: #24A148 ;
    /*background-image: url('../assets/images/background-works-top.svg');  画像を指定 */
    background-size: 100% auto; /* 横幅を100%、高さを自動調整 */
    background-repeat: no-repeat; /* 繰り返しを無効にする */
    background-position: center top; /* 画像を中央に配置 */
    z-index: 2;
}

.works-head,.works-foot{
    background-color: #F2F4F8;
    display: block;
    width: 100%; /* 横幅いっぱいに広げる */
    height: auto; /* 高さを自動調整 */
    margin: 0; /* 余白をなくす */
    padding: 0; /* 余白をなくす */
}
#works h1{
    margin-top: 0;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    color:#ffffff;

}
.works-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto; /* 行の高さは自動 */
    width:80%;
    margin: auto;
    padding-top:5%;
}

.work h3{
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    color:#ffffff;

}

#skills{
    height: auto;
    text-align: center;
    padding-bottom: 5%;
    background-color: #F2F4F8;
}
#skills h1{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    margin-block-start: 0;
}
#skills h2{
    margin-top: 5%;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;

    margin-block-end: 0.5em;;
}

.waterfall-V-model{
    margin-top:3%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    background: url('../assets/images/background-VM-all.svg');
    background-size: 80% 90%; /* 画像を画面いっぱいに広げる */
    background-position: center top; /* 画像の中央を基準に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    

}
.VM-1,.VM-2,.VM-3,.VM-4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.process-design,.process-test{
    position: relative;
    text-align: center;
    width: 20%;
}

.VM-1 .process-design{
    margin-left: 10%;
}
.VM-1 .process-test{
    margin-right: 10%;
}
.VM-2 .process-design{
    margin-left: 20%;
}
.VM-2 .process-test{
    margin-right: 20%;
}
.VM-3 .process-design{
    margin-left:30%;
}
.VM-3 .process-test{
    margin-right: 30%;
}
.VM-4 .process-design{
    margin-left:40%;
}
.process-design img,.process-test img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 100%;
}
.process-design h3,.process-design h4,.process-test h3,.process-test h4{
    position: relative;
    z-index: 2;
}


.process-design h3,.process-test h3{
    font-size: 1rem;
    white-space: nowrap;
    margin-block-end: 0;
}

.process-design h4,.process-test h4{
    font-size: 1.8rem;
    margin-block-start: 0;
    margin-block-end: 0;
}
.dedelop-head{
    display: flex;
    
    flex-direction: column;

}
.develop-annotation{
    
}

.develop-all{
    display: flex;
}
.develop-exp{
    width: 50%;
}

.develop-tools{
    background-color: #d7d7d7;
    width: 95%;
    margin-left: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 70px;

}
.develop-tool{
    display: flex;
    justify-content: center;
    padding-bottom:10px;

}
.develop-tool h3,.develop-tool h4{
    margin-block-start: 0;
    margin-block-end: 0;

    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}
.develop-tool h3{
    width:20%;
}

.meter {
    width: 40%; /* 横幅を100%に設定 */
    height: 30px; /* 高さを30pxに設定 */
    background-color: #F2F4F8; /* 灰色のベースメーター */
    position: relative; /* 中の要素を絶対配置するために相対配置 */
    border-radius: 10px; /* 角を丸くする */
    overflow: hidden; /* 子要素が丸みを超えないようにする */
}

.meter-fill {
    width: 0%;
    height: 100%; /* メーターの高さに合わせる */
    background-color: #FFB800; /* 黄色 */
    position: absolute; /* 親要素の位置に合わせる */
    top: 0;
    left: 0;
    border-radius: 10px; /* 角を丸くする */
}

/* 各メーターの塗りつぶし割合を設定 */
.meter1 .meter-fill {
    animation: fillMeter-1 2s forwards; /* アニメーションを設定 */
}
@keyframes fillMeter-1 {
    to {
        width: 20%; /* 最終的に20%まで埋める */
    }
}

.meter2 .meter-fill {
    animation: fillMeter-2 2s forwards; /* アニメーションを設定 */
}
@keyframes fillMeter-2 {
    to {
        width: 40%; /* 最終的に40%まで埋める */
    }
}

.meter3 .meter-fill {
    animation: fillMeter-3 2s forwards; /* アニメーションを設定 */
}
@keyframes fillMeter-3 {
    to {
        width: 60%; /* 最終的に60%まで埋める */
    }
}
.meter4 .meter-fill {
    animation: fillMeter-4 2s forwards; /* アニメーションを設定 */
}
@keyframes fillMeter-4 {
    to {
        width: 80%; /* 最終的に80%まで埋める */
    }
}
.meter5 .meter-fill {
    animation: fillMeter-5 2s forwards; /* アニメーションを設定 */
}
@keyframes fillMeter-5 {
    to {
        width: 100%; /* 最終的に100%まで埋める */
    }
}

#contact{
    height: auto;
    text-align: center;
    position: relative;/*疑似要素用*/
    background-color: #24A148 ;
    /*background-image: url('../assets/images/background-works-top.svg');  画像を指定 */
    background-size: 100% auto; /* 横幅を100%、高さを自動調整 */
    background-repeat: no-repeat; /* 繰り返しを無効にする */
    background-position: center top; /* 画像を中央に配置 */
    z-index: 2;
}
.contact-head{
    background-color: #F2F4F8;
    display: block;
    width: 100%; /* 横幅いっぱいに広げる */
    height: auto; /* 高さを自動調整 */
    margin: 0; /* 余白をなくす */
    padding: 0; /* 余白をなくす */
}
#contact h1{
    margin-top: 0;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    color:#ffffff;

}
.contact-underline{
    padding-bottom:3%;
}
#contact p{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color:#ffffff;
}
.mail-img{
    width: 5%;
}

.SNSs{
    display: flex;
    justify-content: center;
}
.SNS{
    width:5%;
    padding:2%;
}
.SNS img{
    width: 100%;
}



footer {
    background-color: #bababa;
    text-align: center;
    padding: 1rem 0;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color:#ffffff;
}

/* 画面幅が600px以下の場合のスタイル */
@media screen and (max-width: 600px) {
    html{
        font-size: 16px;
    }
    .container {
        flex-direction: column;
    }
    .menu {
        display: none;
    }
    .navlinks {
        display: none; /* 初期状態ではメニュー非表示 */
        flex-direction: column; /* 縦並びに変更 */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(242, 244, 248, 0.9);
        width: 100%;
        text-align: right;
        margin-right: 5%;
    }

    .navlinks.active {
        display: flex; /* ハンバーガーメニューがクリックされたときに表示 */
    }

    .menu-btn {
        display: block; /* スマホサイズでは表示 */
    }

    #profile{
        height: auto;
    }
    .profile-contents-all{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .portrait{
        padding-left: 0;
        width: 50%;
        text-align: center;
        
    }
    .profile-contents{
        align-items: center;
    }
    .profile-contents p,.profile-contents h2{
        padding-left: 0%;
    }
    .profile-hobbys{
        width: 100%;
        margin-left: 0%;
    }
    .works-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .process-design img,.process-test img{
        width: 100%;
    }
    .process-design h3,.process-test h3{
        font-size: 0.9rem;
        margin-block-start: 0;
    }
    .process-design h4,.process-test h4{
        font-size: 1rem;
    }
    .VM-1 .process-design{
        margin-left: 5%;
    }
    .VM-1 .process-test{
        margin-right: 5%;
    }
    .VM-2 .process-design{
        margin-left: 16.6%;
    }
    .VM-2 .process-test{
        margin-right: 16.6%;
    }
    .VM-3 .process-design{
        margin-left:28.2%;
    }
    .VM-3 .process-test{
        margin-right: 28.2%;
    }
    .VM-4 .process-design{
        margin-left:40%;
    }
    .develop-all{
        flex-direction: column;
    }
    .develop-exp {
        width: 100%;
    }
    .mail-img{
        width: 20%;
    }
    .SNS{
        width:20%;
    }
    .SNS img{
        width: 100%;
    }
    
}

/* 画面幅が601px以上、1024px以下の場合のスタイル */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    html{
        font-size: 18px;
    }
    .container {
        flex-direction: row;
    }
    .menu {
        display: block;
    }
    #profile{
        height: auto;
    }
    .profile-contents-all{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .portrait{
        padding-left: 0;
        width: 30%;
        text-align: center;
        
    }
    .profile-contents{
        align-items: center;
    }
    .profile-contents p,.profile-contents h2{
        padding-left: 0%;
    }
    .profile-hobbys{
        width: 80%;
        margin-left: 0%;
    }
    .works-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .develop-tool h3{
        width:25%;
    }
    
}