/* styles.css */


html{
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}


#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(242, 244, 248,1);
    transition: background-color 0.3s ease;
    z-index: 1000;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding: 10px 20px;
  }
  #navbar.scrolled-down {
    background-color: rgba(242, 244, 248, 0); /* スクロール時に透過 */
}

#navbar.scrolled-up {
    background-color: rgba(242, 244, 248, 1); /* スクロールアップ時に不透明 */
}

#navbar:hover {
    background-color: rgba(242, 244, 248, 1); /* ホバー時に不透明 */
}
#navbar img {
    height: 40px;
  }
  
/*  
.navlinks {
      display: flex;
      justify-content: flex-end; /* aタグを右詰めに配置 
      flex-grow: 1; /* 右側に十分なスペースを持たせる 
    }
    
.navlinks a {
      margin-right: 5%;
      text-decoration: none; /* リンクの下線を消す 
      color: #3e3e3e;
      
      font-family: "Zen Maru Gothic", serif;
        font-weight: 500;
        font-style: normal;
    }
    */

    .navlinks {
        display: flex;
        justify-content: flex-end; /* aタグを右詰めに配置 */
        flex-grow: 1; /* 右側に十分なスペースを持たせる */
      }
      
      .navlinks a {
        margin-right: 5%;
        text-decoration: none; /* リンクの下線を消す */
        color: #3e3e3e;
        position: relative; /* ::afterを使うために相対配置 */
        
        font-family: "Zen Maru Gothic", serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .navlinks a::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -2px; /* テキストの少し下に下線を表示 */
        width: 0;
        height: 2px;
        background-color: #3e3e3e;
        transition: width 0.4s ease, left 0.4s ease; /* アニメーションの速度と効果 */
      }
      
      .navlinks a:hover::after {
        width: 100%;
        left: 0; /* 左右に広がる */
      }
      
      .navlinks a:focus::after,
      .navlinks a:active::after {
        width: 100%;
        left: 0;
      }
      
      .navlinks a:hover::after {
        width: 100%;
        left: 0;
      }
    .menu-btn {
        display: none; /* 初期状態では非表示 */
        font-size: 1.2rem;
        background: none;
        border: none;
        color: #3e3e3e;
        cursor: pointer;
        margin-right: 5%;
    }
/*
main {
    padding: 2rem;
}
*/
h1{
    margin-block-end: 0.2em;
}

h2 {
    color: #555;
}

#title {
    position: relative;
    height: 100vh; /* ウィンドウの高さと同じに設定 */
    display: flex; /* Flexboxを使用 */
    justify-content: flex-start; /* 左寄せに設定 */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: #ffffff; /* 背景色の設定（オプション） */
    opacity: 0;
    transition: opacity 2s ease-in-out; /* フェードインアニメーションの設定 */
}


.titletxt{
    position: absolute;
    display: block;
    width: 50%;
    padding: 0%;
    text-align: center;
    z-index: 2;/* SVGの上に表示されるようにする */
}

.titletxt h1, .titletxt h2 {
    font-family: "Zen Maru Gothic", serif;
    margin: 0;
    line-height: 1.2;
    color: #3e3e3e;
}

.titletxt h1{
    font-weight: 700;
    font-style: normal;
    font-size: 4.8rem;
}

.titletxt h2{
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
}
.background-title{
    position: absolute;
    display: block;
    margin-left: auto; /* SVGを右寄せにする */
    /*top: 0;*/
    right: 0;
    width: 80%;
    height: 100%;
    z-index: 1; /* テキストの後ろに表示されるようにする */
}
#profile{
    height: auto;
    /*background: url('../assets/images/background-profile.svg'),
    linear-gradient(to bottom, rgba(255, 255, 255, 0), #F2F4F8 50%);*/
    /*background-color: #F2F4F8;*/
    background-image: url('../assets/images/background-profile.svg');
    background-size: cover; /* 画像を画面いっぱいに広げる */
    background-position: center top; /* 画像の中央を基準に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    text-align: center;
    padding-bottom: 5%;
}

#profile h1{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    padding-top: 13%;
}

.profile-contents-all{
    display:flex;
}
.portrait{
    padding-left: 20%;
    width: 30%;
    opacity: 0; /* 初期状態で透明にする */
    transform: translateY(20px); /* 初期状態で少し下に配置する */
    transition: opacity 1s ease-out, transform 1s ease-out; /* フェードインと移動のトランジションを設定 */
}
.portrait.show{
    opacity: 1; /* フェードインさせる */
    transform: translateY(0); /* 元の位置に移動 */
}
.profile-contents{
    display: flex;
    flex-direction: column;
}
.profile-contents p{
    width:60%;
    padding-left:8%;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
}
.profile-contents h2{
    width:60%;
    padding-left:8%;
    font-size: 1.6rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;

}
.profile-hobbys{
    display: flex;
    flex-direction: row;
    width:60%;
    margin-left:8%;
}
.hobby{
    text-align: center;
    width: 30%;
    padding-left:2.5%;
    padding-right:2.5%;

    opacity: 0;
    transform: translateX(-5%); /* 初期状態で少し左に配置 */
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.hobby.show {
    opacity: 1;
    transform: translateX(0); /* 元の位置に移動 */
}
.hobby:nth-child(1) {
    transition-delay: 0.3s; /* 1つ目は0.5秒遅延 */
  }
  
  .hobby:nth-child(2) {
    transition-delay: 0.6s; /* 2つ目は1秒遅延 */
  }
  
  .hobby:nth-child(3) {
    transition-delay: 0.9s; /* 3つ目は1.5秒遅延 */
  }

.hobby img{
    width:100%;
}
.hobby h3{
    font-size: 1.2rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.hobby p{
    width: 100%;
    display: inline-block;
    padding: 0%;
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.9rem;
    margin-top: 0;
}
#works{
    height: auto;
    text-align: center;
    position: relative;/*疑似要素用*/
    background-color: #24A148 ;
    /*background-image: url('../assets/images/background-works-top.svg');  画像を指定 */
    background-size: 100% auto; /* 横幅を100%、高さを自動調整 */
    background-repeat: no-repeat; /* 繰り返しを無効にする */
    background-position: center top; /* 画像を中央に配置 */
    z-index: 2;
}

.works-head,.works-foot{
    background-color: #F2F4F8;
    display: block;
    width: 100%; /* 横幅いっぱいに広げる */
    height: auto; /* 高さを自動調整 */
    margin: 0; /* 余白をなくす */
    padding: 0; /* 余白をなくす */
}
.works-head{
    height: 30vh;
    background-color: #F2F4F8;
    background-image: url('../assets/images/background-works-top.svg');
    background-size: cover; /* 画像を画面いっぱいに広げる */
    background-position: center top; /* 画像の中央を基準に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
}
.works-foot{
    height: 30vh;
    background-color: #F2F4F8;
    background-image: url('../assets/images/background-works-foot.svg');
    background-size: cover; /* 画像を画面いっぱいに広げる */
    background-position: center top; /* 画像の中央を基準に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
}
#works h1{
    margin-top: 0;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    color:#ffffff;

}
.works-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto; /* 行の高さは自動 */
    width:80%;
    margin: auto;
    padding-top:5%;
    justify-items: center;
}

.work{
    opacity: 0;
    transform: translateY(5%); /* 初期状態で少し下に配置 */
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.work{
    width: 90%;
    
}
.work a img{
    width:100%;
    
}
.work.show {
    opacity: 1;
    transform: translateY(0); /* 元の位置に移動 */
  }

  .work img {
    transition: transform 0.3s ease; /* 変化をスムーズにする */
  }
  
  .work img:hover {
    transform: scale(1.05); /* マウスオーバー時に画像を10%拡大 */
  }
  

.work h3{
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    color:#ffffff;

    margin-block-start: 0em;
    margin-block-end: 2em;

}

/* モーダルのスタイル */
.modal {
    display: none; /* 初期状態は非表示 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.8);
}

/* モーダルコンテンツのスタイル */
.modal-content {
    background-image: url('../assets/images/background-work-modal_2.svg'); /* 画像のパスを指定 */
    background-size: cover; /* 画像をコンテナ全体にフィットさせる */
    background-position: center; /* 画像の位置を中央に設定 */

    margin: 5% auto;
    padding: 10px;
    width: 80%;
    height: 80%;
    max-width: 700px;
    max-height: 700px;
    text-align: center;

    color: #3e3e3e;

    /*border-radius: 60px;*/
}

.modal-content p{
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.modal-heading {
    display: inline-flex; /* 横並び */
    align-items: center; /* 上下中央揃え */
    font-size: 24px;
    text-decoration: none; /* 下線を削除 */
    color: inherit; /* 親要素の色に従う */
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 5%;

    text-decoration: none; /* リンクの下線を消す */
    position: relative; /* ::afterを使うために相対配置 */


}

.modal-heading i {
    margin-right: 8px; /* アイコンとテキストの間隔 */
    font-size: 1.5em; /* アイコンのサイズ */
}

  
  .modal-heading::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px; /* テキストの少し下に下線を表示 */
    width: 0;
    height: 2px;
    background-color: #3e3e3e;
    transition: width 0.4s ease, left 0.4s ease; /* アニメーションの速度と効果 */
  }
  
  .modal-heading:hover::after {
    width: 100%;
    left: 0; /* 左右に広がる */
  }
  
  .modal-heading:focus::after,
  .modal-heading:active::after {
    width: 100%;
    left: 0;
  }
  
  .modal-heading:hover::after {
    width: 100%;
    left: 0;
  }
/* スライドショーのスタイル */
.slideshow {
    position: relative;
    width: 40%;
    height: auto;
    margin-top: 20px;
    margin: 0 auto; /* 中央揃え */
}

.slide {
    display: none;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.slide.active {
    display: block;
}

/* ナビゲーションボタン */
.slide-buttons {
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #FFB800;
}

/* 閉じるボタンのスタイル */
.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#skills{
    height: auto;
    text-align: center;
    padding-bottom: 5%;
    background-color: #F2F4F8;
}
#skills h1{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    margin-block-start: 0;
}
#skills h2{
    margin-top: 5%;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;

    margin-block-end: 0.2em;;
}

.waterfall-V-model{
    margin-top:3%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    background: url('../assets/images/background-VM-all.svg');
    background-size: 80% 90%; /* 画像を画面いっぱいに広げる */
    background-position: center top; /* 画像の中央を基準に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    

}
.VM-1,.VM-2,.VM-3,.VM-4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;

    
}

.process-design,.process-test{
    position: relative;
    text-align: center;
    width: 20%;

    opacity: 0;
    transform: translateX(-5%); /* 初期状態で少し左に配置 */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show{
    opacity: 1;
    transform: translateY(0); /* 元の位置に移動 */

}
.process-design:nth-child(1){
    transition-delay: 0.1s;
}
.process-design:nth-child(2){
    transition-delay: 0.2s;
}
.process-design:nth-child(3){
    transition-delay: 0.3s;
}
.process-design:nth-child(4){
    transition-delay: 0.4s;
}
.process-test:nth-child(1){
    transition-delay: 0.5s;
}
.process-test:nth-child(2){
    transition-delay: 0.6s;
}
.process-test:nth-child(3){
    transition-delay: 0.7s;
}


.VM-1 .process-design{
    margin-left: 10%;
}
.VM-1 .process-test{
    margin-right: 10%;
}
.VM-2 .process-design{
    margin-left: 20%;
}
.VM-2 .process-test{
    margin-right: 20%;
}
.VM-3 .process-design{
    margin-left:30%;
}
.VM-3 .process-test{
    margin-right: 30%;
}
.VM-4 .process-design{
    margin-left:40%;
}
.process-design img,.process-test img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 100%;
}
.process-design h3,.process-design h4,.process-test h3,.process-test h4{
    position: relative;
    z-index: 2;
}


.process-design h3,.process-test h3{
    font-size: 1rem;
    white-space: nowrap;
    margin-block-end: 0;
}

.process-design h4,.process-test h4{
    font-size: 1.8rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.develop-head{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;

}
.develop-annotation{
    width: auto;
    border: 1px solid #d7d7d7;
    border-radius: 50px;
    padding: 2%;
    margin-top: 1%;
    
}
.develop-annotation p{
    text-align: left;
    
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    padding-left: 1rem;


}
.develop-annotation img{
    position: absolute;
    left:0;
    top:1rem;
    align-self: center;

}


.develop-all{
    display: flex;
}
/*
.develop-exp{
    width: 50%;
    opacity: 0;
    transform: translateY(3%); /* 初期状態で少し下に配置 
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.develop-exp.show{
    opacity: 1;
    transform: translateY(0); /* 元の位置に移動 
}
*/
.develop-exp {
    width: 50%;
    opacity: 0;
    transform: translateY(3%);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .develop-exp.show {
    opacity: 1;
    transform: translateY(0);
  }


.develop-tools{
    background-color: #d7d7d7;
    width: 95%;
    margin-left: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 70px;

}
.develop-tool{
    display: flex;
    justify-content: center;
    padding-bottom:10px;

}
.develop-tool h3,.develop-tool h4{
    margin-block-start: 0;
    margin-block-end: 0;

    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}
.develop-tool h3{
    width:20%;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
}
/*
.meter {
    width: 40%; /* 横幅を100%に設定 
    height: 30px; /* 高さを30pxに設定 
    background-color: #F2F4F8; /* 灰色のベースメーター 
    position: relative; /* 中の要素を絶対配置するために相対配置 
    border-radius: 10px; /* 角を丸くする 
    overflow: hidden; /* 子要素が丸みを超えないようにする 
}

.meter-fill {
    width: 0%;
    height: 100%; /* メーターの高さに合わせる 
    background-color: #FFB800; /* 黄色 
    position: absolute; /* 親要素の位置に合わせる 
    top: 0;
    left: 0;
    border-radius: 10px; /* 角を丸くする 
    transition: width 2s ease-out;
}

/* 各メーターの塗りつぶし割合を設定 
.meter5 .meter-fill {
    width: 100%;
  }

  .meter4 .meter-fill {
    width: 80%;
  }

  .meter3 .meter-fill {
    width: 60%;
  }
  
  .meter2 .meter-fill {
    width: 40%;
  }
  
  .meter1 .meter-fill {
    width: 20%;
  }
  */
  .meter {
    width: 40%;
    height: 30px;
    background-color: #F2F4F8;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .meter-fill {
    width: 0%;
    height: 100%;
    background-color: #FFB800;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: width 2s ease-out;
  }
  
  /* スキルレベルに応じた幅を指定 */
  .meter5 .meter-fill {
    width: 100%;
  }
  
  .meter4 .meter-fill {
    width: 80%;
  }
  
  .meter3 .meter-fill {
    width: 60%;
  }
  
  .meter2 .meter-fill {
    width: 40%;
  }
  
  .meter1 .meter-fill {
    width: 20%;
  }
#contact{
    height: auto;
    text-align: center;
    position: relative;/*疑似要素用*/
    background-color: #24A148 ;
    /*background-image: url('../assets/images/background-works-top.svg');  画像を指定 */
    background-size: 100% auto; /* 横幅を100%、高さを自動調整 */
    background-repeat: no-repeat; /* 繰り返しを無効にする */
    background-position: center top; /* 画像を中央に配置 */
    z-index: 2;
}
.contact-head{
    display: block;
    width: 100%; /* 横幅いっぱいに広げる */
    height: auto; /* 高さを自動調整 */
    margin: 0; /* 余白をなくす */
    padding: 0; /* 余白をなくす */
    height: 30vh;
    background-color: #F2F4F8;
    background-image: url('../assets/images/background-works-top.svg');
    background-size: cover; /* 画像を画面いっぱいに広げる */
    background-position: center top; /* 画像の中央を基準に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
}


#contact h1{
    margin-top: 0;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.2rem;
    color:#ffffff;

}
.contact-underline{
    padding-bottom:3%;
}
#contact p{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color:#ffffff;
}
.mail-img{
    width: 5%;
}

.SNSs{
    display: flex;
    justify-content: center;
}
.SNS{
    width:5%;
    padding:2%;
}
.SNS img{
    width: 100%;
}



footer {
    background-color: #bababa;
    text-align: center;
    padding: 1rem 0;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color:#ffffff;
}

/* 画面幅が600px以下の場合のスタイル */
@media screen and (max-width: 600px) {
    html{
        font-size: 16px;
    }
    .container {
        flex-direction: column;
    }
    .menu {
        display: none;
    }
    .navlinks {
        display: none; /* 初期状態ではメニュー非表示 */
        flex-direction: column; /* 縦並びに変更 */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(242, 244, 248, 0.9);
        width: 100%;
        text-align: right;
        margin-right: 5%;
    }

    .navlinks.active {
        display: flex; /* ハンバーガーメニューがクリックされたときに表示 */
    }

    .menu-btn {
        display: block; /* スマホサイズでは表示 */
    }
    .titletxt{
        padding-left: 5%;
    }
    
    .titletxt h1{
        font-size: 3.6rem;
    }
    .titletxt h2{
        font-size: 1.8rem;
    }
    

    #profile{
        height: auto;
    }
    .profile-contents-all{
        display:flex;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
    }
    .portrait{
        padding-left: 0;
        width: 50%;
        text-align: center;
        
    }
    .profile-contents{
        align-items: center;
    }
    .profile-contents p,.profile-contents h2{
        padding-left: 0%;
    }
    .profile-hobbys{
        width: 100%;
        margin-left: 0%;
    }
    .works-head,.works-foot,.contact-head{
        height: 20vh;
    }
    .works-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .work{
        width:80%;
        
    }
    .work a img{
        width:100%;
    }
    .process-design img,.process-test img{
        width: 100%;
    }
    .process-design h3,.process-test h3{
        font-size: 0.9rem;
        margin-block-start: 0;
    }
    .process-design h4,.process-test h4{
        font-size: 1rem;
    }
    .VM-1 .process-design{
        margin-left: 5%;
    }
    .VM-1 .process-test{
        margin-right: 5%;
    }
    .VM-2 .process-design{
        margin-left: 16.6%;
    }
    .VM-2 .process-test{
        margin-right: 16.6%;
    }
    .VM-3 .process-design{
        margin-left:28.2%;
    }
    .VM-3 .process-test{
        margin-right: 28.2%;
    }
    .VM-4 .process-design{
        margin-left:40%;
    }
    .develop-all{
        flex-direction: column;
    }
    .develop-annotation{
        position: static;
        width: auto;
        right:2.5%;
        display: flex;
        flex-direction: column;
    
    }
    .develop-exp {
        width: 100%;
    }
    .mail-img{
        width: 20%;
    }
    .SNS{
        width:20%;
    }
    .SNS img{
        width: 100%;
    }
    
}

/* 画面幅が601px以上、1024px以下の場合のスタイル */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    html{
        font-size: 18px;
    }
    .container {
        flex-direction: row;
    }
    .menu {
        display: block;
    }
    #profile{
        height: auto;
    }
    .profile-contents-all{
        display:flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
    }
    .portrait{
        padding-left: 0;
        width: 30%;
        text-align: center;
        
    }
    .profile-contents{
        align-items: center;
    }
    .profile-contents p,.profile-contents h2{
        padding-left: 0%;
    }
    .profile-hobbys{
        width: 80%;
        margin-left: 0%;
    }
    .works-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .work{
        width: 90%;
        
    }
    .work a img{
        width:100%;
        
    }
    .process-design img,.process-test img{
        width:100%
    }
    .develop-tool h3{
        width:25%;
    }
    
}